<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD polkit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/software/polkit/policyconfig-1.dtd">
<!-- DOC: <https://www.freedesktop.org/software/polkit/docs/latest/polkit.8.html> -->
<policyconfig>
	<vendor>The WoeUSB Project</vendor>
	<vendor_url>https://github.com/slacka/WoeUSB</vendor_url>
	<icon_name>woeusbgui-icon</icon_name>

	<action id="com.github.slacka.woeusb.cli">
		<description>Run `woeusb` in CLI mode with elevated privileges</description>
		<description xml:lang="zh_TW">以超級使用者(SuperUser)身份執行 `woeusb`</description>

		<message>Authentication is required to run WoeUSB with elevated privileges.</message>
		<message xml:lang="zh_TW">以超級使用者(SuperUser)身份執行 `woeusb` 需要通過身份驗證。</message>

		<defaults>
			<allow_any>auth_admin</allow_any>
			<allow_inactive>auth_admin</allow_inactive>
			<allow_active>auth_admin_keep</allow_active>
		</defaults>

		<annotate key="org.freedesktop.policykit.exec.path">/bin/bash</annotate>
		<annotate key="org.freedesktop.policykit.exec.argv1">/usr/bin/woeusb</annotate>
	</action>

	<action id="com.github.slacka.woeusb.cli.format-mode">
		<description>WoeUSB invoked using the `--format' flag.</description>
		<description xml:lang="zh_TW">WoeUSB 以 --format 模式運行</description>

		<message>Authentication is required before WoeUSB can modify the partition table and format your target device, resulting in the COMPLETE LOSS of its current contents.</message>
		<message xml:lang="zh_TW">WoeUSB 需要「超級使用者(SuperUser)」權限以修改您目標裝置的分區表、建立目標分區、格式化目標檔案系統、掛載與解除掛載目標檔案系統、安裝開機載入器以及其他操作。</message>

		<defaults>
			<allow_any>auth_admin</allow_any>
			<allow_inactive>auth_admin</allow_inactive>
			<allow_active>auth_admin_keep</allow_active>
		</defaults>

		<annotate key="org.freedesktop.policykit.exec.path">/bin/bash</annotate>
		<annotate key="org.freedesktop.policykit.exec.argv1">/usr/bin/woeusb</annotate>
	</action>

	<action id="com.github.slacka.woeusb.cli.install-mode">
		<description>WoeUSB invoked using the `--install' flag.</description>
		<description xml:lang="zh_TW">WoeUSB 以 --install 模式運行</description>

		<message>Authentication is required before WoeUSB can mount/unmount the target device.</message>
		<message xml:lang="zh_TW">WoeUSB 需要「超級使用者(SuperUser)」權限以掛載與解除掛載目標檔案系統、安裝開機載入器以及其他操作。</message>

		<defaults>
			<allow_any>auth_admin</allow_any>
			<allow_inactive>auth_admin</allow_inactive>
			<allow_active>auth_admin_keep</allow_active>
		</defaults>

		<annotate key="org.freedesktop.policykit.exec.path">/bin/bash</annotate>
		<annotate key="org.freedesktop.policykit.exec.argv1">/usr/bin/woeusb</annotate>
	</action>
	
	<action id="com.github.slacka.woeusb.gui">
		<description>Run WoeUSB in GUI mode with elevated privileges</description>

		<message>Authentication is required to run WoeUSB with elevated privileges.</message>

		<defaults>
			<allow_any>auth_admin</allow_any>
			<allow_inactive>auth_admin</allow_inactive>
			<allow_active>auth_admin_keep</allow_active>
		</defaults>

		<annotate key="org.freedesktop.policykit.exec.path">/usr/bin/woeusbgui</annotate>
		<annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
		</action>
</policyconfig>
