[Desktop Entry]
Version=1.1
Type=Application
Name=WoeUSB
Name[fr_FR]=WoeUSB
Name[pt_BR]=WoeUSB
Name[zh_TW]=WoeUSB Windows 可開機 USB 製作工具
GenericName=USB Image Writer
GenericName[fr_FR]=
GenericName[pt_BR]=
GenericName[zh_TW]=
Comment=Create Windows USB installer from an image file
Comment[fr_FR]=Créer des clés USB d'installation de Windows depuis une image CD ou un dvd original
Comment[pt_BR]=
Comment[zh_TW]=從一個既有的 Windows DVD 或光碟映像檔建立 Windows 可開機 USB 安裝碟
TryExec=/usr/bin/woeusbgui
Exec=pkexec woeusbgui %f
Icon=woeusbgui-icon
Path=/usr/share/woeusb
MimeType=application/x-cd-image
Terminal=false
Categories=System;GTK;
Keywords=Windows;UEFI;EFI;booting;flash;USB;install;
DBusActivatable=false
StartupNotify=true
StartupWMClass=Woeusbgui
NoDisplay=false
Hidden=false
X-KDE-SubstituteUID=true
X-KDE-Username=root
X-MultipleArgs=false
